

nav ul {
	margin-left: 60px;
}
.btn-dark {
	margin-right: 60px;

}

.icone {
	color: white;
}

.fundo {
	background: black;
	padding: 5px;
}

nav {
	background: #4F4F4F;
	text-transform: uppercase;
	font-size: 20px;
	padding: 10px;
}


.logomarca {
	margin-top: 20px;
}



header {
	background: #808080;

}


.cycle-slideshow img {
	margin-top: 10px;
	width: 100%;
}


h1 {
	text-align: center;
	font-size: 36px;
	color: #4F4F4F;
	margin: 30px;
}

footer {
	font-family: Arial;
	font-weight: 900;
	background: #4F4F4F;
	text-align: center;
	color: black;
	padding: 20px;
	margin-top: 50px;
}

.valor { 
	color: #FF0000;
	font-size: 1.5em;
	font-weight: bold;
}

.negrito { 
	font-weight: bold;
}

.valor1 {
	font-size: 30px;
}










